<!DOCTYPE html>
{% extends "first_app1/base.html" %}
{% load static %}
{% block body_block %}
    <div class="container">
        {% if registered %}
        <h1>Thank you for registering</h1>
        {% else %}
        <h1>Please register</h1>
        <h3>Please fill out the form below</h3>
        <div class="jumbotron">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input type="submit" value="Register">
            </form>
        </div>
        {% endif %}
    </div>
{%endblock%}